body {
    margin-top: 100px;
    padding: 0;
}

.content-course {
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.qorgan, .jarqyn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
}

.qorgan p, .jarqyn p {
    width: 50%;
    font-size: 32px;
}

.jarqyn img {
    transform: rotate(5deg);
    width: 500px;
}

@media (max-width: 1126px) {
    .qorgan p, .jarqyn p {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .heading {
        font-size: 20px;
    }
    .jarqyn img {
        width: 300px;
    }
}