
.support p, h1 {
    color: white;
    text-align: center;
    max-width: 500px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
    min-height: 80vh;
    width: 70%;
    margin: auto;
    padding: 10px;
}
.form h1 {
    font-size: 2rem;
}

.form input {
    background-color: white;
    height: 32px;
}

.btn-submit {
    min-width: 25%;
    align-self: center;
    margin-top: 10px;
    background-color: rgb(16, 190, 16);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 28px;
    margin-top: 40px;
    cursor: pointer;
    font-family: Comic Helvetic;
}
.form form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
@media screen and (max-width: 1250px) {
    .form {
        width: 90%;
    }

    .form form {
        max-width: 50%;
    }


    
    
}

