

@media (max-width: 900px) and (min-width: 450px) {
  .background-container {
    flex-direction: column;
    align-items: center;
  }
    .help h1 {
      font-size: 50px;
    }
    .helper-text p{
      font-size: 18px;
    }
}

@media (max-width: 1250px) {
    body {
      font-size: 14px;
      padding: 0;
      margin: 0;
    }
  
    .content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
    .content img {
      max-width: 100%;
      height: auto;
      order: 2;
    }
  
    .right-side {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .content button {
      width: 90%;
      font-size: 32px;
      order: 4;
    }
    .subheading {
      font-size: 24px;
      margin-top: 20px;
      order: 3;
    }
  
    .black-container {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      height: auto;
      width: 100%;
      padding: 20px;
      margin-bottom: 30px;
      order: 1;
    }
    
  
    .black-container h1 {
      font-size: 84px;
      margin-right: 0;
    }
  
    .black-container p {
      font-size: 36px;
      margin-right: 0;
      text-align: center;
    }
    .counter {
      text-align: center;
    }
    .timeline {
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  
    .team-container {
      margin: 0;
    }
  
    .team-header h1 {
      font-size: 50px;
    }
  
    .team-header p {
      font-size: 18px;
      width: 90%;
    }
    .members {
      gap: 50px;
    }
  
    .help-content {
      flex-direction: column;
    }

    .help-content p {
        font-size: 13px;
        text-align: center;
    }
  
    .help-content-left, 
    .help-content-right {
      width: 100%;
    }

    .help-content-right .helper, .help-content-left .helper {
        display: flex;
        flex-direction: row;
    }
  
    .contact .content {
      flex-direction: column;
      align-items: center;
    }

    .helper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .helper img {
      width: 50px;
      height: 50px;
    }
    .help-content-right img {
      border-radius: 100% 0 0 100% !important;
      position: relative;
      left: 10px;
    }
    .help-content-right .helper-text {
      border-radius: 0 100px 100px 0 !important;
    }
  
    .contact .content .left {
      width: 70%;
      margin-bottom: 20px;
      text-align: center;
    }

    .contact .content .right{
        width: 70%;
        margin-bottom: 20px;
        text-align: center;
    }

    header img {
      display: none;
    }

    header {
      text-align: center;
    }

  
    form {
      width: 100%;
    }
  
    .img1, .img2 {
      display: none;
    }
    .background-container {
        background-color: black;
        min-height: 200px;
       padding-top: 20px;
       padding-bottom: 20px;

    }
    .background-container h1 {
        font-size: 50px;
        text-align: center;
    }
    .background-container p {
        font-size: 14px;
        text-align: center;
        padding-top: 20px;
    }
      .vertical-line {
        width: 7px;
        margin-bottom: 10px;
      }
      .horizontal-line {
        display: none;
      }
      .helper-text p{
        font-size: 15px;
      }
      .helper img {
        width: 100px;
        height: 100px;
      }
  }



  @media (max-width: 450px) {
    .help-header h1{
      font-size: 32px;
    }
    .help-content-left, .help-content-right {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .helper {
      width: 250px;
    }
    .helper-text p{
      font-size: 9px;
      max-width: 150px;
    }
    .helper img {
      width: 80px;
      height: auto;
    }
    .helper-text {
      height: 80px;
    }
    .black-container h1 {
      font-size: 50px;
    }
    .black-container p {
      font-size: 20px;
    }
    .members {
      gap: 40px;
    }
    .member img {
      height: 100px;
    }
    .member p, span {
      font-size: 12px;
    }
    .contact .content p {
      font-size: 20px;
    }
    .contact .content .left img {
      height: 20px;
      position: relative;
      top: 3px;
    }

  }