.article {
    border: 2px solid black; 
    border-radius: 20px;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-bottom: 20px;
}
.article img {
    align-self: center;
    width: 175px;
    height: 175px;
}
.article p {
    font-size: 14px;
}
.link {
    color: gray;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: auto;
    padding-bottom: 10px;
}
.title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}
